<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('./partials/navbar.ejs') %>
    <h1>
      <%= title %>
    </h1>
    <p>Welcome to <%= title %>, <%= currentUser %>
    </p>
    <ul>
      <% drinksList.forEach(function(d){ %>
        <li>
          <%= d.description %>
            <%= d.price %> kr.
        </li>
        <% if (currentUser) { %>
          <button id="btn-view-details-<%= d.id %>" value="<%= d.id %>" onclick="handleViewDetailsClick()">View
            Details</button>
          <% } %>
            <% }); %>
    </ul>

    <script>
      function handleViewDetailsClick() {
        console.log(event.target.id)
        console.log(event.target.value)

        document.location.href = `/drinks/${event.target.value}`
      }

    </script>
</body>

</html>